/* basic style rules - boxes wont go beyond their size*/

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styling front page only */

body {
    background-color: rgb(238, 238, 238);
    justify-content: center;
    display: flex;
    height: 200vh
}

#fp-shape {
    max-width: 1200px;
    border-left: dotted;
    border-right: dotted;
    border-width: 2px;
    background-color: rgb(180, 190, 178);
}

#fp-heading { 
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    font-size: 65px;
    margin-bottom: 20px;
}

/*container fp-box styling*/

#fp-box-container {
    display: flex;
    padding: 0 4% 0;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 1300px) {
    #fp-shape { margin: 0 60px;

    }
}

@media only screen and (max-width: 800px) {
    #fp-shape { 
        margin: 0 30px;
    }
    #fp-heading {
        margin-bottom: 0;
        padding-bottom: 10px;

    }
}

/*general fp-box styling */

.fp-gamebox {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10% / 20%;
    font-size: 20px;
    height: 150px;
    width: 240px;
    margin: 30px 50px 30px;
    text-align: center;
    background-color: rgb(187, 224, 238);
}

/*fix so last box wraps from left*/

.hide-box-fp {
    opacity: 0;
}

/*individual box styling*/

#box1 {
    background-color: yellow;
}

#box7 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    opacity: 100;
}


/* testing hover class

.fp-gamebox:hover {
    border-radius: 90% 50% / 16% 90%;
    color: yellow;
}'

*/

