/* basic style rules - boxes wont go beyond their size*/

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

@font-face {
    font-family: bdos-font;
    src: url('https://github.com/ableskewer/big-thumb-devolopment/raw/refs/heads/main/fonts/bdos-font.ttf') format('truetype');
  }

a {
    text-decoration: none;
    color: inherit;
}

/* styling front page only */

body {
    background-color: rgb(238, 238, 238);
    justify-content: center;
    display: flex;
    height: 200vh
}

#fp-shape {
    max-width: 1200px;
    border-left: dotted;
    border-right: dotted;
    border-width: 2px;
    background-color: rgb(180, 190, 178);
}

#fp-heading { 
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    font-size: 65px;
    margin-bottom: 20px;
    font-weight: 200;
}

/*container fp-box styling*/

#fp-box-container {
    display: flex;
    padding: 0 4% 0;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 1300px) {
    #fp-shape { margin: 0 60px;

    }
}

@media only screen and (max-width: 800px) {
    #fp-shape { 
        margin: 0 30px;
    }
    #fp-heading {
        margin-bottom: 0;
        padding-bottom: 10px;

    }
}

/*general fp-box styling */

.fp-gamebox {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10% / 20%;
    font-size: 22px;
    height: 150px;
    width: 240px;
    margin: 30px 50px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*individual box styling*/


#box1:hover {
    background-color: rgb(184, 216, 195);
    opacity: 95%;
}
#box1 {
    background-color: rgb(147, 190, 162);
}

#box1 a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box2 {
    opacity: 1;
    background-color: rgb(155, 209, 209);
    color: rgb(155, 209, 209);
}

#box2:hover {
    border-color: rgb(180, 190, 178);
    background: rgb(180, 190, 178);
    color: black;
}

#box3 {
    opacity: 0;
    transition: opacity 1.5s ease;
    background-color: rgb(171, 241, 218);
}

#box3:hover {
    opacity: 1;
}

#box4 {
    opacity: 0;
    background-color: yellowgreen;
    animation: flicker-animation 8s infinite;
}

@keyframes flicker-animation {
    0% {
      opacity: 0.1
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.8;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

#box5 {
    background-color: #4CAF50;
    opacity: 0;
    transition: font-size 1s ease;
}

#box5:hover {
    font-size: 40px;
} 

#box5 a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bsod {
    background-color: #0000aa;
    color: #ffffff;
    font-family: 'VT323', monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    margin: 0;
    display: block;
    justify-content: center;
    height: 100vh;
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#box6 {
    opacity: 0;
    background-color: rgb(173, 173, 93);
    font-family: condensed+roboto, inter;
}

#box6:hover {
    opacity: 1;
}

#box7 {
    opacity: 0;
}

#box8 {
    opacity: 0;
}

#box9 {
    opacity: 0;
}


/* testing hover class

.fp-gamebox:hover {
    border-radius: 90% 50% / 16% 90%;
    color: yellow;
}'

*/

